/* colors and styles (Default)*/

:root{
    --PrimaryColor: hsl(94, 59%, 35%);
    --HoverColor: #bdf094;
    --paleGreen: hsl(95, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%; 18%);
    --textColor: hsl(224, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --itemBgColor: rgb(246, 254, 255);

    /* Fonts and Typography */

    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}


.listing__section{
    flex-basis: 70%;
    background: url('backgrd.png') no-repeat  var(--paleGreen) center / cover;
} 
.heading{
        width: 100%;
        justify-content: space-between;
        background-color: rgb(241, 241, 241);
        padding-bottom: 1rem;  
    }

 .heading > .h1{
            font-size: var(--h1FontSize);
            color: var(--blackColor);
            font-weight: 700;
            
        }
 .heading > .btn{
            border: 1px solid transparent;
            font-weight: 700;
        }
.heading > .btn:hover{
            background: var(--paleGreen);
            border: 1px solid var(--PrimaryColor);
        }


        {/** Section Container **/}

.section__container{
        width: 100%;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;     
    }
.single__item{
            position: relative;
            width: 150px;
            height: 170px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            border-radius: 10px;
            background: var(--itemBgColor);
            transition: .8s ease in ease-in-out;
        }   
.single__item:hover{
                background:hsl(0, 0%, 0%);
                box-shadow: 0 3px 2px rgb(121, 121, 2);
                color: white;
                transition: .5s ease;
        }

.section__container  .img{
    max-width: 110px; 
    padding-bottom: 4px;
    cursor: pointer;
}

 .section__container .icon{
            position: absolute;
            top: 10px;
            right: 10px;
            color: var(--PrimaryColor);
            
        }

  .section__container .icon:hover{
                color: yellow;
            }
        
.single__item .h3{
            font-size: var(--h3FontSize);
            color: rgb(50, 61, 65);
            padding: 1rem 0;
            font-weight: 700;
            cursor: pointer;

        }
.single__item .h3:hover{
    color: white;
}
.sellers{
        width: 100%;
        justify-content: space-between;
        gap: 1rem;
        align-items: flex-start;
        background: var(--paleGreen);
    }
.topStudent__section{
            background: rgb(0, 174, 255);   
        }
.topStudent__section .heading{
    background: var(--paleGreen);
    padding: 1rem 0;
  
            } 

.topStudent__section .heading .btn{
        padding: .4rem .2rem;
    }

 .topStudent__section .heading .h3{
        font-size: 1.4rem;
        color: var(--blackColor);
        font-weight: 700;
    }
            
.card{
    display: flex;
    flex-direction: row;
    background: var(--whiteColor);
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    gap: 1rem;
    box-shadow: 0 2px 4px var(--inputColor); 

}

.users{
    padding-left: 1rem;
    border-right: 2.5px solid var(--greyText);   
}

.users .img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    object-fit: cover;
    border: 2px solid var(--inputColor);
    &:hover{
        transform: translateY(-10px);
        cursor: pointer;
        transition: .3s ease; 
    }
}
.card__text{
display: flex;
}

.card__text .span{
    color: '';
}
/* MEDIA QUERIES */


@media screen and (max-width: 990px){
.sellers .card{
        flex-direction: column !important;
    } 

.single__item{
        width: 200px !important;
        margin: 0 auto;
    }
}

@media screen and (max-width: 490px){
.listing__section .sellers{
            flex-direction: column;
           
        }   
        
.sellers .h3{
                margin: auto;
            }

 .sellers .btn{
                display: none;
            } 

 .sellers .card{
                flex-direction: row !important;
            }
            
}

@media screen and (max-width: 650px){
   .listing__section .single__item{
            margin: 0 auto !important;
            align-items: center;
            justify-content: center;
            width: 80% !important;
        }
}