.flexBox__display{
    padding: 2rem;
    display: flex;

    .h2{
        text-align: center;
        color: rgb(4, 99, 99);
        border: 1px solid aqua;
        width: 50%;
        margin: 0 auto;
        padding: 1rem;
        text-transform: capitalize;
    }

    .h3{
        text-align: center;
    }
}
.flex-item{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.container12{
    border: 2px solid black;
    display: inline-flex;
    margin: 0 2rem 1rem 1rem;

    .item-1{
        background: rgb(65, 65, 255);
    }
    .item-2{
        background: rgb(255, 73, 73);

    }
    .item-3{
        background: rgb(175, 175, 33);
    };
    .item-4{
        background: rgb(255, 255, 66);
    };
    .item-5{
        background: rgb(46, 46, 0);
    };
    .item-6{
        background: rgb(255, 255, 0);
    };
    .item-7{
        background: rgb(255, 116, 3);
    };
    .item-8{
        background: rgb(0, 255, 0);
    };
    .item-9{
        background: rgb(0, 0, 0);
    };
    .item-10{
        background: rgb(255, 0, 0);
    };
    
}
.h5{
    padding-left: 1rem;
}

.desc{
    margin-bottom: 2rem;
}

/*** Next Propery ***/
.h2{
        text-align: center;
    }
.flex__direction{
        padding: 1rem;
    .container23{
        border: 2px solid red;
        display: inline-flex;
        flex-direction: flex;

        .flex-items{
            padding: 1.5rem;
        }
        .items-1{
            background: rgb(65, 65, 255);
        }
        .items-2{
            background: rgb(255, 73, 73);
    
        }
        .items-3{
            background: rgb(175, 175, 33);
        };
        .items-4{
            background: rgb(255, 255, 66);
        };
        .items-5{
            background: rgb(46, 46, 0);
        };
        .items-6{
            background: rgb(255, 255, 0);
        };
        .items-7{
            background: rgb(255, 116, 3);
        };
        .items-8{
            background: rgb(0, 255, 0);
        };
        .item-9{
            background: rgb(0, 0, 0);
        };
        .items-10{
            background: rgb(255, 0, 0);
        };
        
    }
}

.article{
    padding: 1rem;
    font-size: 1.2rem;

}