.auth{
margin: 0;
padding: 0;
justify-content: center;
align-items: center;
display:flex;
min-height: 100vh;
font-family: 'Jost' , sans-serif;
background: linear-gradient(to bottom, rgb(2, 53, 53), rgb(24, 1, 1), rgb(0, 66, 97));
color: white;
}

form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
}


@media (max-width: 500px){
    .auth{
        margin-top: -52px;
        width: 100%;
        min-width: 180px;
    }
}

.auth__container{
    width: 370px;
    max-height: 575px;
    background: red;
    overflow: hidden;
    background: url('LoginBackground.jpg') no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px rgb(0, 204, 240);

}